    <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "GOOGEATS", root_path, class: "navbar-brand"%>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Menu", menu_path %> </li>
              <li><%= link_to "Contact", contact_us_path%> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                  <%= link_to orders_index_path, method: :get, id: 'orders_count' do %>
                     <span class= "glyphicon glyphicon-shopping-cart"></span> <span id='orders_count'>(<%= @orders_count %>)</span>
                  <% end %>
              </li>
              <li><a href="/Feed-back">Feed back</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>