<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:page_title) %> | GOOGEATS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.html" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>

  <body class="<%=yield(:body_name) %>"> 
    <div class="container">
    <%= render "layouts/nav" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    </div>
  </body>
</html>
